.game-card {
  border: solid darkolivegreen 2px;
  color: darkolivegreen;
  padding: 1em;

  .p-style-1 {
    font-size: 24px;
    font-family: 'VT323', monospace;
  }
}

.btn {
  font-family: 'Press Start 2P', cursive;
  background-color: green;
  color: white;
  height: 50px;
  border: solid white 1px;
  border-radius: 10px;
}
