.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: darkolivegreen;
  height: 50px;
  border-top: solid white 2px;
  font-size: 10px;

  h1 {
    color: white;
  }
}
